<form method="post" action="/Game/CreateGame">
    <input type="text" placeholder="Game Name" name="name" />
    <input type="number" name="maxPlayers" max="30" min="2" />
    <label for="maxPlayers">Max Players</label>
    <input type="submit" value="Create Game" />
</form>