@model TriviaGame

<script type="text/javascript" src="/js/editgame.js"></script>
<input type="hidden" id="gameId" value="@Model.Id" />
<h3>Editing @Model.Name</h3><br/>
Questions:<br/>
@{
    foreach(GameQuestion question in Model.GameQuestion.OrderBy(x=>x.QuestionNumber))
    {
        <div class="question">@question.QuestionNumber: @question.Question.Prompt</div>
    }
}

<div class="form-group">
    <form id="addQuestionForm" onsubmit="return addQuestion(this);" action="#" method="post">
        <input type="text" placeholder="Prompt" name="prompt" />
        <label for="multipleChoice">Multiple Choice: </label>
        <input type="checkbox" name="multipleChoice" id="multipleChoice" />
        <input type="text" name="textAnswer" id="textAnswer" placeholder="Correct Answer" />
        <input type="submit" value="Add Question" />
    </form>
</div>

<div class="copyMe" id="copyMe" style="display: none;">
    <div class="multipleChoiceAnswers">
        <input type="hidden" value="4" name="numberOfAnswers" />
        <select name="correctAnswer" id="correctAnswer">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br />
        <input type="text" class="multipleChoiceAnswer" name="answer1" placeholder="Answer #1" /><br />
        <input type="text" class="multipleChoiceAnswer" name="answer2" placeholder="Answer #2" /><br />
        <input type="text" class="multipleChoiceAnswer" name="answer3" placeholder="Answer #3" /><br />
        <input type="text" class="multipleChoiceAnswer" name="answer4" placeholder="Answer #4" /><br />
        <input type="button" value="Add Answer" onclick="return addAnswer();" />
        <input type="button" value="Remove Answer" onclick="return removeAnswer();" />
    </div>
</div>
