@model User
<div class="loginWidget">
    <ul class="navbar-nav">
        @if (Model != null)
        {
            <li class="profilePic">
                <img class="avatarThumbnail" src="@Model.AvatarImage" />
            </li>
            <li class="nav-item navbar-link">
                <a class="nav-link" asp-controller="Accounts" asp-action="MyAccount">@Model.DisplayName</a>
            </li>
            <li class="nav-item navbar-link">
                <a class="nav-link" asp-controller="Game" asp-action="MyTrivia">My Trivia</a>
            </li>
            <li class="nav-item navbar-link">
                <a class="nav-link" asp-controller="Accounts" asp-action="Logout">Logout</a>
            </li>
            }
            else
            {
            <li class="nav-item navbar-link">
                <a class="nav-link" asp-controller="Accounts" asp-action="Register">Register</a>
            </li>
            <li class="nav-item navbar-link">
                <a class="nav-link" asp-controller="Accounts" asp-action="Login">Login</a>
            </li>
        }
    </ul>
</div>