<form method="post" action="/Accounts/Register">
    <input type="text" name="username" placeholder="Display Name" />
    <input type="text" name="email" placeholder="E-Mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="date" name="dob" placeholder="Birthday" />
    <input type="submit" value="Register" />
</form>